<div class="col-md-6  offset-md-3">
  <h3 class="text-center">Registro de Canchas</h3>

  <form #miForm="ngForm" (ngSubmit)="onSubmit(miForm)" novalidate>


    <div class="autocomplete-container">
      <label>Nombre:</label>
      <input
        id="search-input"
        type="text"
        [ngModel]="query()"
        (input)="onInput($event)"
        (focus)="onFocus()"
        (blur)="onBlur()"
        placeholder="Nombre de la Cancha..."
        autocomplete="off"
        class="form-control"
        name="query()"
      />
      @if (isDropdownOpen() && filteredItems().length > 0) {
        <ul class="autocomplete-dropdown, contenedor-flotante">
          @for (item of filteredItems(); track item) {
            <li class="autocomplete-item">
              {{ item }}
            </li>
          }
        </ul>
      }
    </div>
    <!-- Mensaje de error para Nombre -->
    <div *ngIf= nombreRepetido >
      <small class="text-danger">El nombre esta REPETIDO. "El nombre debe ser único"</small>
    </div>
    <div class="form-group">
      <input type="hidden" class="form-control" id="nombre" [(ngModel)]="cancha.nombre" #nombre="ngModel" name="nombre"
        required="true" placeholder="Escriba aquí el nombre de la Cancha" minlength="4" maxlength="100"  >
    </div>

    <br/>
    <div>
      <label>Tipo:</label>
      <p>
      <select class="select-moderno" name="tipo" [(ngModel)]="cancha.tipo">
      <option [value]="item" *ngFor="let item of listaTipo">{{item}}</option>
      </select>
      </p>
    </div>

    <br/>
    <div class="form-group">
      <label>Capacidad:</label>
      <input type="text" class="form-control" id="capacidad" [(ngModel)]="cancha.capacidad" name="capacidad"
        required="true" placeholder="Número de jugadores" minlength="1" maxlength="2"  >
    </div>
    <!-- Mensaje de error para CAPACIDAD-->
    <div *ngIf= capacidadError >
      <small class="text-danger">La Capacidad debe tener un valor entre 1 y 50 (personas)"</small>
    </div>

    <br/>
    <div class="contenedorHorario">
      <div class="columnaHorario">
        <label>Hora de Apertura:</label><br>
        <select class="select-moderno componenteSelect" name="apertura" [(ngModel)]="cancha.apertura">
        <option [value]="horaA" *ngFor="let horaA of horaApertura">{{horaA}}</option>
        </select>
      </div>
      <div class="columnaHorario">
        <label>Hora de Cierre:</label><br>
        <select class="select-moderno componenteSelect" name="cierre" [(ngModel)]="cancha.cierre">
        <option [value]="horaB" *ngFor="let horaB of horaCierre">{{horaB}}</option>
        </select>
      </div>
    </div>
    <!-- Mensaje de error para HORAS -->
    <div *ngIf= horasError >
      <small class="text-danger">La hora de Cierre debe ser 'posterior' a la hora de Apertura"</small>
    </div>

    <br/>
    <div class="form-group">
      <label>Tarifa:</label>
      <input type="text" class="form-control" id="tarifa" [(ngModel)]="cancha.tarifa" name="tarifa"
        required="true" placeholder="Escriba aquí el nombre de la Cancha" minlength="1" maxlength="2" >
    </div>
    <!-- Mensaje de error para TARIFA-->
    <div *ngIf= tarifaError >
      <small class="text-danger">El monto de la tarifa debe ser mayor a $5.00"</small>
    </div>

    <br/>
    <br/>
    <button class="btn btn-success" type="submit" [disabled]="miForm.invalid" >Guardar</button>
  </form>
</div>
