<div class="col-md-6  offset-md-3">
  <h3 class="text-center">Registro de Reservas</h3>

  <h3>Paso {{ paso }} de 2</h3>

  <form class="form-container" [formGroup]="miFormulario" (ngSubmit)="guardar()" >

    <!-- PASO 1 -->
    @if (paso === 1) {
      <div>
        <div >
          <p>
            <select  class="form-group-select" id="idCancha" [(ngModel)]="valorSeleccionado" [ngModelOptions]="{standalone: true}" >
              <option value="" disabled>-- Elija una opción --</option>
              @for (item of lista; track item.id) {
                <option [value]="item.id">
                  {{ item.nombre }}
                </option>
              }
            </select>
            @if (controlCancha) {
              <small>La selección de una Cancha es obligatoria.</small>
            }
        </div>

        <div class="form-group">
          <label>Fecha:</label>
          <ngxsmk-datepicker
            mode="single"
            formControlName="fechaReserva"
            displayFormat="YYYY-MM-DD"
            [(value)]="selectedDate"
            (ngModelChange)="onDateChange($event)"
            [minDate]="minimumDate"
            >
          </ngxsmk-datepicker>
          @if (controlFecha) {
            <small>Debe eleguir una fecha de consulta disponibilidad, es obligatorio.</small>
          }
        </div>
        <div>
          <br>
        <!--
        <p> cancha: {{ valorSeleccionado }} </p>
        <p>fechaReserva: {{ selectedDate2 }} </p>
        -->

          <button type="button" [style.visibility]="isVisible ? 'visible' : 'hidden'" (click)="consultarDisponibilidad(valorSeleccionado,selectedDate1)">Consultar Horas</button>
          <br>
          <br>
          <button type="button"  [disabled]="isButtonDisabled" (click)="siguiente()">Paso 2</button>
        </div>
      </div>
    }

    <!-- PASO 2 -->
    @if (paso === 2) {
      <p>Disponibilidad: {{ disponibilidadControl }} Horas</p>
      <p>Apertura: {{ aperturaControl }}.00 </p>
      <p>Cierre: {{ cierreControl }}.00 </p>

      <!--
      <div>
         @if (this.canchaDisponibilidad) {
          <p>Disponibilidad:: {{ this.canchaDisponibilidad.disponibilidad }}</p>
          <p>Apertura: {{ this.canchaDisponibilidad.apertura }}</p>
          <p>Cierre:: {{ this.canchaDisponibilidad.cierre }}</p>
        }
      </div>
      -->

    <div class="vector-container">
      @for (item of vector; track $index; let i = $index) {
        <div class="vector-cell">
          <span class="value">{{ item }}</span>
          <!--
          <span class="index">{{ $index }}</span>
          -->
            @if (i >= 2 && i <= 13) {
              <span class="index">libre</span>
            }
            @if (i < 2 || i > 13) {
              <span >-</span>
            }
        </div>
      }
    </div>

    <div>

      <div class="form-group">
        <p>
          <label>Usuario:</label>
          <select  class="form-group-select" id="idUsuario" (change)="onUsuarioChange(usuarioSelect)"
          [(ngModel)]="usuarioSelect" [ngModelOptions]="{standalone: true}" >
            <option value="" disabled>-- Elejir un Usuario --</option>
            @for (user of listaUser; track user.idUsuario) {
              <option [value]="user.idUsuario">
                {{ user.nombreUsuario }}
              </option>
            }
          </select>
          @if (controlUsuario) {
            <small>Elejir un Usuario es obligatorio.</small>
          }
      </div>

      <!--
      <div class="form-group">
        <label>Usuario:</label>
        <input type="text" formControlName="idUsuario" (change)="onUsuarioChange(usuarioSelect)" />
        @if (miFormulario.get('idUsuario')?.invalid && miFormulario.get('idUsuario')?.touched) {
          <small>La seelección de un Usuario, es obligatoria.</small>
        }
      </div>
      -->
      <div class="form-group">
        <label>Hora de Inicio:</label>
        <input type="text" formControlName="horaInicioReserva" />
        @if (miFormulario.get('horaInicioReserva')?.invalid && miFormulario.get('horaInicioReserva')?.touched) {
          <small>Se debe registrar la hora de inicio de la reserva, obligatorio.</small>
        }
      </div>

      <div class="form-group">
        <label>Tiempo Reservado: (horas)</label>
        <input type="text" formControlName="tiempoReservado" />
        @if (miFormulario.get('tiempoReservado')?.invalid && miFormulario.get('tiempoReservado')?.touched) {
          <small>Escribir la cantidad de horas a reservar la cancha, obligatorio.</small>
        }
      </div>



      <br>
      <!--
      <button type="submit" [disabled]="miFormulario.invalid">Registrar</button>
      -->
      <button type="submit" >Registrar</button>
      <button type="button" (click)="anterior()">Anterior</button>
      <button type="submit" >Finalizar</button>
    </div>
  }
  </form>

</div>
